


.intro#first {
    display: block;
    background: rgb(255, 255, 255);
    padding: 150px 0; }
    .intro#first .text {
      margin: 0 auto;
      padding: 0 20px;
      width: 250px; }
    .intro#first h1 {
      color: #222;
      font: 700 24px/24px 'pt sans narrow';
      margin: 0;
      text-align: center;
      text-transform: uppercase; }
    .intro#first hr {
      background: #333;
      border: 0;
      height: 2px;
      margin: 12px auto 8px;
      width: 60px; }
      .intro#first hr.bottom {
        margin: 10px auto; }
    .intro#first h2 {
      color: #222;
      font: 700 16px/20px 'pt sans';
      margin: 0;
      text-align: center; }
    .intro#first p {
      color: #222;
      font: 400 14px/18px 'pt serif';
      text-align: justify;
      text-indent: 14px;
    }
    .intro#first-img{
        border-radius: 50%;
        width: 200 px;
        height: 200 px;
    }
    
    

      .resume#headline {
        background: grey;
        padding: 300px 0; }
      .resume#headline .text {
        margin: 30px auto;
        padding: 0 20px; }
      .resume#headline h1 {
        color:White;
        font-family: 'Mandali', sans-serif;
        font-size:80px;
        text-align: center;
      }
      .resume#work hr {
        width:100px;
        margin-bottom: 30px;
        border-width: 3px;
        border-color: Grey
      }
      .resume#work {
        background: #fff;
        padding: 100px 0; }
      .resume#work .text {
        margin: 30px auto;
        padding: 0 20px; }
      .resume#work h1 {
        margin:0;
        color: dimgrey ;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing:2px;
        font-size:30px;
        font-family:tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif; }
      .resume#work h2 {
        font-size:20px;
        height:30px;
        color: #4d4d4d;
        margin: 0px;}
      .resume#work h3 {
        color: #8a8a8a;
        font-size:15px;
        margin: 0px;
        margin-bottom: 40px;}
      .resume#thin h1 {
        color: #fff;
        font: 100 10.5vw/1 'lato'; 
        text-transform: uppercase; }
      body {
        font-family: 'Mandali', sans-serif;
        background-color: grey ;
        margin: 15px;
      }
      h1 {
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 0;
      }
      .content {
        text-align: center;
      }
      .resume {
          text-align: center;
      }